@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> This is group 2 - 10's mission 6 group assignment</p>

    <h4>Rachel Wittwer</h4>
    <p>Part 1</p>
    <h4>Mitch Buhler</h4>
    <p>Part 2</p>
    <h4>Nate Chandler</h4>
    <p>Part 3</p>
    <h4>Parker Burnett</h4>
    <p>Part 4</p>
    

</div>

